.right-views{
  background-color: #EBEEF0;
}
.dp-image{
  border-radius: 50%;
  width: 100%;
  height: auto;
}
.image-container{
  width: 65%;
  height: auto;
  /* margin-left: 15%; */
  /* margin-top: 6%; */
  margin: 0 auto;
  margin-top: 2%;
}
.dp-name{
  font-family: 'Roboto', serif;
  text-align: center;
  margin-top: 2%;
  font-size: 18px;
  font-weight: 400;
  color: #212121;
}
.designation{
  font-family: 'Roboto', serif;
  text-align: center;
  /*margin-top: 2%;*/
  font-size: 11px;
  font-weight: 400;
  color: #D3D3D3;
}
.navigation-menu{
  margin: 0 auto;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}
.left-margin-menu{
  float: left;
  margin-left: 5%;
}
.fontaw-icon{
 /* margin-right: 25%;*/
}
.navigation-name{
  font-family: 'Roboto', serif;
  margin-left: 25px;
}

.intro-tool {
  font-family: 'Roboto', serif;
  font-weight: 100;
  padding-left: 3%;
  margin-top: 5%;
}

.intro-tool-weight {
  font-weight: 400;
}

.intro-tool-size {
  font-size: 85%;
}

.intro-tool-big-size {
  font-size: 120%;
}

.paraller-intro {
  font-weight: 400;
  font-size: 26px;

}

.color-bar {
  background-color: #E65100 !important;
}
.custom-toolbar-fixed{
  position: fixed;
  z-index: 1000;
}
.content-fixed-toolbar{
  top: 90px;
}

@media only screen and (max-width: 768px) {
  .right-views{
    min-width: 100%;
  }
  .left-navigation{
    min-width: 100%;
  }
  .email-contact{
    text-align: center;
  }
 /* .contact-label{
    width: 0px ;
  }
  .label-align{
    width: 0px ;
  }*/
  .padding-mobile{
    padding-left: 34%;
  }

}
