.right-views{
  background-color: #EBEEF0;
}
.dp-image{
  border-radius: 50%;
  width: 100%;
  height: auto;
}
.image-container{
  width: 65%;
  height: auto;
  /* margin-left: 15%; */
  /* margin-top: 6%; */
  margin: 0 auto;
  margin-top: 2%;
}
.dp-name{
  font-family: 'Roboto', serif;
  text-align: center;
  margin-top: 2%;
  font-size: 18px;
  font-weight: 400;
  color: #212121;
}
.designation{
  font-family: 'Roboto', serif;
  text-align: center;
  /*margin-top: 2%;*/
  font-size: 11px;
  font-weight: 400;
  color: #D3D3D3;
}
.navigation-menu{
  margin: 0 auto;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}
.left-margin-menu{
  float: left;
  margin-left: 5%;
}
.fontaw-icon{
 /* margin-right: 25%;*/
}
.navigation-name{
  font-family: 'Roboto', serif;
  margin-left: 25px;
}

.intro-tool {
  font-family: 'Roboto', serif;
  font-weight: 100;
  padding-left: 3%;
  margin-top: 5%;
}

.intro-tool-weight {
  font-weight: 400;
}

.intro-tool-size {
  font-size: 17px;
}

.intro-tool-big-size {
  font-size: 26px;
}

.paraller-intro {
  font-weight: 400;
  font-size: 26px;

}

.color-bar {
  background-color: #E65100 !important;
}
